<!DOCTYPE html>
<html lang="en">
<head>

    <title>Bài Thơ Lab4</title>
</head>
<body>
<div>
    <h1>BÀI THƠ CHỈ CÓ THỂ LÀ MẸ</h1>
    <H3>Thơ: Đặng Minh Khai</H3>
    <p>
        Nắng dần tắt trên con đường nhỏ<br>
        Dáng mẹ gầy giẹo giọ liêu xiêu<br>
        Mẹ về để nấu cơm chiều<br>
        Bữa cơm đạm bạc thương yêu ấm lòng<br>
        cả đời mẹ long đong vất vả<br>
        Cho chồng con quên cả thân mình<br>
        Một đời mẹ đã hy sinh<br>
        Tuổi xuân phai nhạt nghĩa tình đượm sâu<br>
        Mưa và nắng nhuộm màu tóc trắng<br>
        Bụi gian nan đọng lắng nếp nhăn<br>
        Rụng rồi thương lắm hàm răng<br>
        Lưng còng chân yếu ánh trăng cuối trời<br>
        Tình của mẹ sáng ngời dương thế<br>
        Lo cho con tấm bé đến già<br>
        Nghĩa tình son sắt cùng cha<br>
        Giản đơn dung dị mẹ là mẹ thôi<br>
        Con đi khắp Chân trời góc bể<br>
        Ân tình nào sánh xuể mẹ yêu<br>
        Nghĩa đày độ lương bao nhiêu<br>
        Có trong lòng mẹ sớm chiều bao dung.
    </p>
</div>
</body>
</html>